
body {
    background-color: rgba(242, 242, 242, 1);
}
div.nav {
    padding-top: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.centerNavItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img.navMe {
    width: 1.5cm;
    height: auto;
}

a.navItemLeft {
    margin-bottom: 1cm;
    padding-right: 2cm;
    font-family: 'Raleway', sans-serif;
    font-size:  20px;
    font-weight: 400;
}

a.navItemRight {
    margin-bottom: 1cm;
    padding-left: 2cm;
    font-family: 'Raleway', sans-serif;
    font-size:  20px;
    font-weight: 400;
}

a.navItemCenter {
    margin-bottom: 0.4cm;
    font-family: 'Raleway', sans-serif;
    font-size:  25px;
    font-weight: 400;
}


div.blockContainer {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.block {
    width: 75%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.blockTextContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

section.detail {
    margin-top: 2cm;
}

Text.blockTitle {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size:  15px;
    font-weight: 400;
}

Text.blockText {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size:  25px;
    font-weight: 700;
}


div.imageDetail {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.company {
    padding: 5px;
    padding-right: 15px;
    width: auto;
    height: 1.5cm;
}

a:link {
    text-decoration: none ;
}
footer div{
    text-align: center;
}
